<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">New Page</h1>
      <div class="account-wall">

<%= render 'form' %>

<%= link_to "Back", :back %>

      </div>
    </div>
  </div>
</div>
